.main{
    position: fixed;
    z-index: 9999999;
    background: rgb(128, 31, 188)929;
    width: 100%;
    height: 100%;
    color: blue;
}


/* .loader_bg {
    position: relative;
    width: 100%;
    height: 100vh;
} */

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}