* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #4e73df;
    margin-bottom: 10px;
}

.subtitle {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: #121212;
}

body {
    background: url('/Users/khaimer/Desktop/ft-transcendence/background.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    margin: 0;
}
